VITE_API_URL=http://localhost:5000/api
# VITE_API_BASE_URL=http://localhost:8000/api/v1
VITE_WS_BASE_URL=ws://localhost:8000/

VITE_SUPABASE_URL=https://ziojazjvsjtzcqdckajq.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_0vVWKefsKdyZaHvLdrqZUA_YyxOaNwa